
body{
    margin: 0;
    padding: 0;
    background-color: #273b21;
}

h1, h2, p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}


header {
    
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* main content */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #fff;

}

/*sections */
section {
    margin-bottom: 20px;
}

/*headings */
h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/*links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #007bff; /* Green color */
}

/* Style the GitHub URL link */
[data-testid="githubURL"] a {
    font-weight: bold;
}

/* Slack Display Picture */
[data-testid="slackDisplayImage"] {
    max-width: 130px;
    border-radius: 10%;
    
}

/* UTC Time */
[data-testid="currentUTCTime"] {
    font-weight: bold;
}

/* Track section */
[data-testid="myTrack"] {
    font-style: italic;
}
